.main_container{

    width:400px;
    border: 0px solid white ;
    background-color: rgb(247,244,255);
    margin-left: auto;
    margin-right: auto;
}

.image{
    width:400px;
}

.title{
    background-color: rgb(0, 0, 69);
    border:2px rgb(0, 0, 69);
    color: white;
    width:270px;
    height: 30px;
    text-align: center;
    padding:5px;
    font-size: 20px;
    transform: translate(55px,-25px);
}


.location{
    border:2px solid rgb(247,244,255);
    background-color: rgb(247,244,255);
    text-align: center;
    padding:10px;
    width: 200px;
    height: 50px;
    align-items: baseline;
    display: flex;
    align-items: center;
}

.img2{
    width:40px;
}

.rooms{
    border: 2px solid rgb(247,244,255);
    background-color: rgb(247,244,255);
    text-align: center;
    padding:10px;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.box1{
display:flex;
align-items: flex-start;
transform: translate(0px,-10px);
}

.img3{
    width:40px;
}

.area{
    border: 2px solid rgb(247,244,255);
    background-color: rgb(247,244,255);
    text-align: center;
    padding:10px;
    width: 200px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.img4{
    width: 40px;

}

.price{
     border: 2px solid rgb(247,244,255);
    background-color: rgb(247,244,255);
    text-align: center;
    padding:10px;
    width: 200px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.box2{
    display:flex;
    align-items: flex-start;
transform: translate(0px,-10px);
}

.footer{
    background-color: rgba(223, 188, 110,0.7);
    color:white;
    border:2px  rgba(223, 188, 110,0.7);
   border-left-width: 50px; 
    text-align: center;
    padding: 12px;
    font-size: 20px;
}
